body {
    color: white; /* Couleur du texte */
    font-family: Arial, sans-serif; /* Police de caractères */
    text-align: center; /* Centrer le texte */
    padding: 50px; /* Espacement intérieur */
}

.container {
    background-color: #3498db;
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
}
